.header {
  background: #0e1c36;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
}
nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
